[submodule "Damn-Vulnerable-Drone"]
	path = Damn-Vulnerable-Drone
	url = https://github.com/PoppyPoppyPiggy/MTD_full_testbed.git
[submodule "Damn-Vulnerable-Drone"]
    ignore = dirty
[submodule "ardupilot"]
    ignore = dirty
[submodule "ardupilot"]
    path = ardupilot
    url = https://github.com/ArduPilot/ardupilot.git
    ignore = dirty
[submodule "dvd_lite/dvd_attacks_lpc/mavlink"]
	path = dvd_lite/dvd_attacks_lpc/mavlink
	url = https://github.com/mavlink/mavlink.git
